body {
   font-family: 'Inter', sans-serif;
    background: #f5f7fa;
    margin: 0;
    padding:0%;
}

header {
    background-color: #fff;
    color: #181818;
    padding: 1em;
    text-align: center;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

header nav ul li {
    display: inline-block;
    margin-right: 20px;
}

header nav a {
    color: #161414;
    text-decoration: none;
}

#home {
    background-image: linear-gradient(to bottom, #ded9d9, #eae5e5);
    padding: 6em;
    text-align: left;
}

#home h1 {
    font-size: 45px;
    margin-bottom: 10px;
}



footer {
    background-color: #fff;
    color: #3aa35d;
    padding: 1em;
    text-align: center;
    clear: both;
}